/*
 *Name: Lucas Merighi
 *UnityID: 200455434
 *Date: 11/18/22
 *Assignment: Website Design and Styling Independent Assignment
 *Description: Styling
 */
 
p {
    font-family:Times;
font-size: 18px;
color: #FFFF;
}

.table-border {
    border: 1px solid #FF7F2F;
}

#photo-resize {
    max-width: 250px;
	max-height: 300px;
}
